@page
@model ProcServer.Pages.ProcessesModel
@{
}

<script type="text/javascript">
</script>

Count: @Model.Entries.Count

<div style="display: grid; grid-template-columns: 40% 60%;">
    <div>
@{
    foreach (var (date, stats) in Model.Stats)
    {
        <h2>@date.ToString("yyyy-MM-dd HH:mm")</h2>
        <table>
            <thead>
                <tr>
                    <th>Application</th>
                    <th>Total time</th>
                </tr>
            </thead>
            @foreach (var (app, time) in stats)
            {
                <tr>
                    <td><a href="?app=@app&date=@date">@app</a></td>
                            <td>@time.ToString(@"hh\:mm", System.Globalization.CultureInfo.InvariantCulture)</td>
                </tr>
            }
        </table>
    }
}
    </div>
    
    <div>

    <div>CC: @Model.AppDetails.Count</div>
    <table>
        <thead>
            <tr>
                <th>Time</th>
                <th>Action</th>
                <th>Title</th>
            </tr>
        </thead>
        @foreach (var entry in Model.AppDetails)
        {
            <tr>
                <td>@entry.Time.ToString("HH:mm:ss")</td>
                <td>@entry.Message.Action</td>
                    <td>@entry.Message.Title</td>
            </tr>
        }
    </table>
    </div>
</div>

<script type="text/javascript">
    // <td><a href="javascript:clickApplication('app')">app</a></td>

    window.clickApplication = (app) => {
        fetch(`?app=${app}`, { method: "GET" }).then(r => {
            console.log("r", r);
        });
    }
</script>
